.g_mar30bs > div:not(:last-child), .g_mar30bs > p:not(:last-child), .g_mar30bs > a:not(:last-child), .g_mar30b {
    margin-bottom: 30px;
}
.g_mar20bs > div:not(:last-child), .g_mar20bs > p:not(:last-child), .g_mar20bs > a:not(:last-child), .g_mar20b {
    margin-bottom: 20px;
}
.g_mar10bs > div:not(:last-child), .g_mar10bs > p:not(:last-child), .g_mar10bs > a:not(:last-child), .g_mar10b {
    margin-bottom: 10px;
}

/* 内容区 */
#app {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.app_left {
    width: 90px;
    border-right: 1px solid var(--bg_color);
}
.app_left .point {
    position: absolute;
    right: -10px;
    top: 50%;
    width: 6px;
    height: 6px;
    opacity: 0;
    border-radius: 6px;
    transform: translateY(-50%) scale(0);
}
.app_left .icon_con {
    padding-bottom: 50px;
}
.app_left .active_menu .point {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}
.app_right .header{
    padding-left: 60px;
    border-bottom: 1px solid var(--bg_color);
}
.app_right .header_img{
    width: 60px;
    height: 60px;
    background-color: var(--darkgray_color);
    border:1px solid var(--border_color)
}
.app_right .content{
    background-color: var(--bg_color);
    padding: 15px 0 16px;
    overflow-y: scroll;
}

/*viewContent*/
.view_content{
    background-color: var(--white_color);
    width: calc(100% - 25px);
    margin-left: 15px;
    min-height: 100%;
}
.view_content .view_loading{
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.empty_content_box{
    background-color: var(--bg_color);
    overflow-y: scroll;
}
.empty_content_bottom{
    background-color: var(--white_color);
    width: calc(100% - 31px);
    margin-left: 15px;
}
.empty_content{
    background-color: var(--white_color);
    width: calc(100% - 25px);
    margin-left: 15px;
    min-height: 100%;
}

/*加载中*/
.spinner{
    /*width: 64px;*/
    margin: auto;
}
.spinner_absolute{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}
.spinner > div {
    display: inline-block;
    /*width: 18px;
    height: 18px;*/
    border-radius: 100%;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
/*.spinner > div:not(:last-child){
    margin-right: 5px;
}*/
.spinner .one {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}
.spinner .two {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}
@keyframes bouncedelay {
    0%,
    100%,
    80% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0)
    }
    40% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

/*登录*/
.login .login_con{
    width: 1200px;
    padding: 50px 0;
    background-color: rgba(207,174,255,0.1);
    border-radius: 20px;
}
.login{
    background-color: #071440;
}
.login .form{
    padding: 0 140px;
}
.login .input_item input{
    color: var(--white_color);
    background-color: transparent;
    /*background-color: #131c4a;*/
    border-bottom: 1px solid #303967;
}
.login .input_item input+ i {
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
}
.login .input_item input:focus+ i {
    width: 100%;
    background-color: var(--white_color);
}
.login .login_save_account .el-switch__core {
    background-color: transparent !important;
}
.login .login_save_account_checked .el-switch__core {
    background-color: #13ce66 !important;
}

/*占位符颜色设置*/
.login .input_item input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #8089b7;
}
.login .input_item input:-moz-placeholder, textarea:-moz-placeholder {
    color: #8089b7;
}
.login .input_item input::-moz-placeholder, textarea::-moz-placeholder {
    color: #8089b7;
}
.login .input_item input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #8089b7;
}

/*ele重置*/
table {
    font-size: 14px;
    color: #606266;
}
.el_pagination{
    margin-right: -10px;
}
.el_btn_beautiful{
    min-height: 32px;
    padding: 9px 20px;
    min-width: 100px;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    height: initial;
    border: none;
    background-color: var(--form_main_color);
    margin-right: 0;
    color: white;
    transition: all 0.3s;
}
.el-button:focus, .el-button:hover {
    background-color: var(--form_main_active_color);
    color: white;
    border: none;
}
.el-button.is-plain:focus, .el-button.is-plain:hover {
    color: var(--form_main_color);
    background-color: var(--form_select_bg_active_color);
    border: none;
}
.el_btn_beautiful_cancel{
    color: var(--cancel_color);
    background-color: var(--input_bg_color);
}
.el_btn_beautiful +.el_btn_beautiful{
    margin-left: 20px;
}
.el-form-item__label{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: var(--form_label_color);
    margin: 20px 0 6px;
}
.el-textarea__inner {
    padding: 4px 10px !important;
}
.el-input__inner,.el-textarea__inner {
    height: 32px;
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: var(--input_bg_color);
    padding: 0 10px;
    color: #333333;
}
.el-form-item{
    margin-bottom: 0;
}
.el-input__inner:hover,.el-textarea__inner:hover {
    border-color: #7cb8ff;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus {
    border-color: #0058ff;
}
.el-form--label-top .el-form-item__label {
    padding: 0;
}
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label::before {
    display: none;
}
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label::after {
    content: '*';
    color: red;
    margin-left: 4px;
}

/*写日志*/
.write{
    background-color: var(--bg_color);
}
.write .empty_height{
    height: 15px;
}
.write .empty_height_bottom{
    height: 16px;
}
.write .middle{
    overflow-y: scroll;
    max-height: calc(100vh - 290px);
}
.write .content{
    background-color: var(--white_color);
    width: calc(100% - 25px);
    margin-left: 15px;
    padding: 0;
}

.form{
    width: 550px;
    padding: 0 60px;
}
.form .form_fieldset,.form_pro_list{
   border-bottom: 1px solid var(--fieldset_border_color);
}
.form .icon_add_box{
   border-radius: 3px;
   border: 1px dashed var(--form_add_pro_btn_color);
}
.form .icon_add_box:hover{
    border: 1px dashed var(--main_color);
}
.form .textarea .el-textarea__inner{
    height: 100px;
}
.form .slider{
    width: 60%;
}
.form .slider .el-slider__button{
    width: 16px;
    height: 16px;
    border-width: 4px;
}

.select_pro_menu{
    position: absolute;
    top: 30px;
    left: 0;
    width: 130px;
    border-radius: 5px;
    color: var(--cancel_color);
    transform: scale(0);
    transform-origin: left top;
    background-color: white;
    box-shadow: 0 0 16px 0 var(--form_add_pro_btn_color);
}
.svg_icon_more_menu .empty{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.svg_icon_more_menu:hover .select_pro_menu{
    transform: scale(1);
}
.select_pro_menu p:hover{
    color: var(--main_color);
    background-color: var(--input_bg_color);
}

.model_select_project{
    width: calc(80vh * 16 / 9);
    max-width: 80vw;
    min-width: 1200px;
    height: 80vh;
}
.model_select_project .left{
    width:250px;
    background-color: var(--form_select_bg_color);
}
.model_select_project .right{
    background-color: var(--white_color);
}
.model_select_project .project_select{
    border-radius: 5px;
    color: var(--main_color);
    background-color: var(--form_select_active_color);
}
.model_select_project .desc{
    line-height: 1.4;
}
.model_select_project .pro_list{
    border: 1px solid var(--border_color);
}
.model_select_project .g_scroll_width{
    width: calc(100% - 93px);
    margin-left: 50px;
}
.model_select_project .g_scroll_y{
    overflow: scroll;
}
.model_select_project .select_title{
    padding: 40px 50px 20px;
}
.model_select_project .project_user_select{
    background-color: var(--bg_color);
}

/*svg_icon*/
.svg_icon{
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.svg_icon_block{
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30px' height='30px'%3E %3Cpath fill-rule='evenodd' fill='rgb(137, 137, 137)' d='M8.000,6.000 L12.000,6.000 C13.105,6.000 14.000,6.895 14.000,8.000 L14.000,12.000 C14.000,13.105 13.105,14.000 12.000,14.000 L8.000,14.000 C6.895,14.000 6.000,13.105 6.000,12.000 L6.000,8.000 C6.000,6.895 6.895,6.000 8.000,6.000 Z'/%3E %3Cpath fill-rule='evenodd' fill='rgb(137, 137, 137)' d='M18.000,6.000 L22.000,6.000 C23.105,6.000 24.000,6.895 24.000,8.000 L24.000,12.000 C24.000,13.105 23.105,14.000 22.000,14.000 L18.000,14.000 C16.895,14.000 16.000,13.105 16.000,12.000 L16.000,8.000 C16.000,6.895 16.895,6.000 18.000,6.000 Z'/%3E %3Cpath fill-rule='evenodd' fill='rgb(137, 137, 137)' d='M8.000,16.000 L12.000,16.000 C13.105,16.000 14.000,16.895 14.000,18.000 L14.000,22.000 C14.000,23.105 13.105,24.000 12.000,24.000 L8.000,24.000 C6.895,24.000 6.000,23.105 6.000,22.000 L6.000,18.000 C6.000,16.895 6.895,16.000 8.000,16.000 Z'/%3E %3Cpath fill-rule='evenodd' fill='rgb(137, 137, 137)' d='M18.000,16.000 L22.000,16.000 C23.105,16.000 24.000,16.895 24.000,18.000 L24.000,22.000 C24.000,23.105 23.105,24.000 22.000,24.000 L18.000,24.000 C16.895,24.000 16.000,23.105 16.000,22.000 L16.000,18.000 C16.000,16.895 16.895,16.000 18.000,16.000 Z'/%3E %3C/svg%3E");
}
.svg_icon_list{
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30px' height='30px'%3E %3Cpath fill-rule='evenodd' fill='rgb(137, 137, 137)' d='M7.500,7.000 L22.500,7.000 C23.328,7.000 24.000,7.672 24.000,8.500 L24.000,9.500 C24.000,10.328 23.328,11.000 22.500,11.000 L7.500,11.000 C6.672,11.000 6.000,10.328 6.000,9.500 L6.000,8.500 C6.000,7.672 6.672,7.000 7.500,7.000 Z'/%3E %3Cpath fill-rule='evenodd' fill='rgb(137, 137, 137)' d='M7.500,13.000 L22.500,13.000 C23.328,13.000 24.000,13.672 24.000,14.500 L24.000,15.500 C24.000,16.328 23.328,17.000 22.500,17.000 L7.500,17.000 C6.672,17.000 6.000,16.328 6.000,15.500 L6.000,14.500 C6.000,13.672 6.672,13.000 7.500,13.000 Z'/%3E %3Cpath fill-rule='evenodd' fill='rgb(137, 137, 137)' d='M7.500,19.000 L22.500,19.000 C23.328,19.000 24.000,19.672 24.000,20.500 L24.000,21.500 C24.000,22.328 23.328,23.000 22.500,23.000 L7.500,23.000 C6.672,23.000 6.000,22.328 6.000,21.500 L6.000,20.500 C6.000,19.672 6.672,19.000 7.500,19.000 Z'/%3E %3C/svg%3E");
}
.svg_icon_more_menu{
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px'%3E %3Cpath fill-rule='evenodd' fill='rgb(197, 197, 197)' d='M3.000,8.000 C4.105,8.000 5.000,8.895 5.000,10.000 C5.000,11.105 4.105,12.000 3.000,12.000 C1.895,12.000 1.000,11.105 1.000,10.000 C1.000,8.895 1.895,8.000 3.000,8.000 Z'/%3E %3Cpath fill-rule='evenodd' fill='rgb(197, 197, 197)' d='M17.000,8.000 C18.105,8.000 19.000,8.895 19.000,10.000 C19.000,11.105 18.105,12.000 17.000,12.000 C15.895,12.000 15.000,11.105 15.000,10.000 C15.000,8.895 15.895,8.000 17.000,8.000 Z'/%3E %3Cpath fill-rule='evenodd' fill='rgb(225, 225, 225)' d='M10.000,7.000 C11.657,7.000 13.000,8.343 13.000,10.000 C13.000,11.657 11.657,13.000 10.000,13.000 C8.343,13.000 7.000,11.657 7.000,10.000 C7.000,8.343 8.343,7.000 10.000,7.000 Z'/%3E %3C/svg%3E");
    z-index: 1;
}

/*label*/
.label span {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(0,0,0,.65);
    padding: 2px 5px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}
.label span:not(:last-child) {
    margin-right: 5px;
}
.label .purple {
    color: #722ed1;
    background: #f9f0ff;
    border-color: #d3adf7;
}
.label .blue {
    color: #1890ff;
    background: #e6f7ff;
    border-color: #91d5ff;
}

/*model*/
.mask{
    width: 0;
    height: 0;
    background-color: rgba(0,0,0,0);
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1;
    transition: background-color 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;
}
.mask .model{
    /*padding: 10px;*/
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0;
    /*background-color: white;*/
    min-width: 200px;
    min-height: 100px;
    border-radius: 10px;
    transform:  scale(0);
    transition: all 0.3s cubic-bezier(0.000, 0.990, 0.660, 1.355);
}
.open{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.open .model{
    transform: scale(1);
    opacity: 1;
}
.will_close{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
}
.will_close .model{
    /*transition: transform 0.3s cubic-bezier(0.200, -0.505, 0.785, 0.370),opacity 0.3s;*/
    transition: all 0.3s  cubic-bezier(0.200, -0.505, 0.785, 0.370);
}

@media screen and (max-width:1366px) {
    .model_select_project .left{
        width:160px;
    }
}